In [8]:
import pandas as pd
import numpy as np
import catboost as cb
import optuna

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error as mse

In [2]:
df = pd.read_csv('../../datasets/synthesized_loan_data.csv')

In [3]:
df.head()

,Loan_Status,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Gender_nan,...,Married_Yes,Married_nan,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Self_Employed_nan,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,1,0.0,5849,0.0,146.412162,360.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0,1.0,4583,1508.0,128.000000,360.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,1,0.0,3000,0.0,66.000000,360.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1,0.0,2583,2358.0,120.000000,360.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1,0.0,6000,0.0,141.000000,360.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [4]:
df.columns

Index(['Loan_Status', 'Dependents', 'ApplicantIncome', 'CoapplicantIncome',
       'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Gender_Female',
       'Gender_Male', 'Gender_nan', 'Married_No', 'Married_Yes', 'Married_nan',
       'Education_Graduate', 'Education_Not Graduate', 'Self_Employed_No',
       'Self_Employed_Yes', 'Self_Employed_nan', 'Property_Area_Rural',
       'Property_Area_Semiurban', 'Property_Area_Urban'],
      dtype='object')

In [5]:
x = df.drop(columns=['Loan_Status'])
y = df['Loan_Status']

In [6]:
x

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Gender_nan,Married_No,Married_Yes,Married_nan,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Self_Employed_nan,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.0,5849,0.0,146.412162,360.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,1.0,4583,1508.0,128.000000,360.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,3000,0.0,66.000000,360.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,2583,2358.0,120.000000,360.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.0,6000,0.0,141.000000,360.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0.0,2900,0.0,71.000000,360.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
610,3.0,4106,0.0,40.000000,180.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
611,1.0,8072,240.0,253.000000,360.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
612,2.0,7583,0.0,187.000000,360.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
613,0.0,4583,0.0,133.000000,360.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [7]:
y

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int64

In [10]:
def objective(trial):
    x_train, x_validate, y_train, y_validate = train_test_split(x, y, test_size=0.3)
    
    param = {
        'objective': trial.suggest_categorical('objective', ['Logloss', 'CrossEntropy']),
        'colsample_bylevel': trial.suggest_float('colsample_bylevel', 0.01, 0.1),
        'depth' : trial.suggest_int('depth', 1, 12),
        'boosting_type' : trial.suggest_categorical('boosting_type', ['Ordered', 'Plain']),
        'bootstrap_type' : trial.suggest_categorical('bootstrap_type', ['Bayesian', 'Bernoulli', 'MVS']),
        'used_ram_limit' : '3gb',
    }
    
    if param['bootstrap_type'] == 'Bayesian': param['bagging_temperature'] = trial.suggest_float('bagging_temperature', 0, 10)
    
    elif param['bootstrap_type'] == 'Bernoulli' : param['subsample'] = trial.suggest_float('subsample', 0.1, 1)
    
    gbm = cb.CatBoostClassifier(**param)
    
    gbm.fit(x_train, y_train, eval_set=[(x_validate, y_validate)], verbose=0, early_stopping_rounds=100)
    
    preds = gbm.predict(x_validate)
    pred_labels = np.rint(preds)
    accuracy = accuracy_score(y_validate, pred_labels)
    
    return accuracy

In [11]:
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=50, timeout=600)

[I 2022-04-29 09:03:07,109] A new study created in memory with name: no-name-771634e9-c411-4868-92b6-be0a7f08b319
[I 2022-04-29 09:03:27,281] Trial 0 finished with value: 0.8 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.021854070455776503, 'depth': 11, 'boosting_type': 'Plain', 'bootstrap_type': 'Bernoulli', 'subsample': 0.9580956300455679}. Best is trial 0 with value: 0.8.
[I 2022-04-29 09:03:33,149] Trial 1 finished with value: 0.8054054054054054 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.046585007582877216, 'depth': 8, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS'}. Best is trial 1 with value: 0.8054054054054054.
[I 2022-04-29 09:04:07,079] Trial 2 finished with value: 0.8108108108108109 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.021574768723075052, 'depth': 7, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bayesian', 'bagging_temperature': 4.044856554283828}. Best is trial 2 with value: 0.8108108108108109.
[I 2022-04-29 09:04:40,614] Trial 3 finished with value: 0.8162162162162162 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.0730095765036658, 'depth': 10, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bernoulli', 'subsample': 0.5524520690323969}. Best is trial 3 with value: 0.8162162162162162.
[I 2022-04-29 09:05:04,252] Trial 4 finished with value: 0.8432432432432433 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.09899430263898922, 'depth': 8, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bernoulli', 'subsample': 0.8553985749353658}. Best is trial 4 with value: 0.8432432432432433.
[I 2022-04-29 09:06:07,390] Trial 5 finished with value: 0.7891891891891892 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.08724069861039771, 'depth': 11, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bernoulli', 'subsample': 0.3311706470696165}. Best is trial 4 with value: 0.8432432432432433.
[I 2022-04-29 09:06:10,470] Trial 6 finished with value: 0.7513513513513513 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.022850388728757776, 'depth': 10, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS'}. Best is trial 4 with value: 0.8432432432432433.
[I 2022-04-29 09:06:15,909] Trial 7 finished with value: 0.8594594594594595 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.09962504673786385, 'depth': 4, 'boosting_type': 'Plain', 'bootstrap_type': 'Bernoulli', 'subsample': 0.33604689287206835}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:06:26,456] Trial 8 finished with value: 0.8540540540540541 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.061643667589386233, 'depth': 12, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS'}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:07:10,424] Trial 9 finished with value: 0.8432432432432433 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.021774850542277156, 'depth': 9, 'boosting_type': 'Ordered', 'bootstrap_type': 'MVS'}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:07:17,473] Trial 10 finished with value: 0.8216216216216217 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.048692726349845526, 'depth': 3, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'bagging_temperature': 9.33756855076478}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:07:21,997] Trial 11 finished with value: 0.8108108108108109 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.07155835136322006, 'depth': 4, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS'}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:07:25,778] Trial 12 finished with value: 0.7891891891891892 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.06405520866517468, 'depth': 5, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS'}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:07:32,407] Trial 13 finished with value: 0.8378378378378378 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.09995072249174473, 'depth': 1, 'boosting_type': 'Plain', 'bootstrap_type': 'Bernoulli', 'subsample': 0.13797927553823125}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:07:40,584] Trial 14 finished with value: 0.8216216216216217 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.041577810533311485, 'depth': 5, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'bagging_temperature': 0.9369605114148563}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:07:47,571] Trial 15 finished with value: 0.8 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.08438283370710845, 'depth': 2, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS'}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:07:57,235] Trial 16 finished with value: 0.7945945945945946 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.035084281088652115, 'depth': 12, 'boosting_type': 'Plain', 'bootstrap_type': 'Bernoulli', 'subsample': 0.490919222686114}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:08:05,080] Trial 17 finished with value: 0.8054054054054054 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.060480758588906544, 'depth': 6, 'boosting_type': 'Plain', 'bootstrap_type': 'Bernoulli', 'subsample': 0.15397640189107362}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:08:10,558] Trial 18 finished with value: 0.8216216216216217 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.08628929433020935, 'depth': 3, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS'}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:08:21,769] Trial 19 finished with value: 0.8216216216216217 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.07612100464270677, 'depth': 6, 'boosting_type': 'Plain', 'bootstrap_type': 'Bayesian', 'bagging_temperature': 9.861956204066006}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:08:34,798] Trial 20 finished with value: 0.8216216216216217 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.032144452360998194, 'depth': 1, 'boosting_type': 'Plain', 'bootstrap_type': 'MVS'}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:09:30,907] Trial 21 finished with value: 0.8162162162162162 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.09927300065058631, 'depth': 8, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bernoulli', 'subsample': 0.8832620762917984}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:10:08,304] Trial 22 finished with value: 0.8 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.09301990212231108, 'depth': 8, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bernoulli', 'subsample': 0.7356881086463021}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:11:25,190] Trial 23 finished with value: 0.827027027027027 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.07864667451577159, 'depth': 12, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bernoulli', 'subsample': 0.6789183647836546}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:12:03,195] Trial 24 finished with value: 0.8 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.09301948916395979, 'depth': 4, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bernoulli', 'subsample': 0.37239959930778577}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:12:20,139] Trial 25 finished with value: 0.6756756756756757 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.010282100966010805, 'depth': 9, 'boosting_type': 'Ordered', 'bootstrap_type': 'MVS'}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:12:52,810] Trial 26 finished with value: 0.8162162162162162 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.06476002511075676, 'depth': 7, 'boosting_type': 'Ordered', 'bootstrap_type': 'Bernoulli', 'subsample': 0.7794708018350602}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:12:59,094] Trial 27 finished with value: 0.8 and parameters: {'objective': 'Logloss', 'colsample_bylevel': 0.05521906594018272, 'depth': 5, 'boosting_type': 'Plain', 'bootstrap_type': 'Bernoulli', 'subsample': 0.29755614659655455}. Best is trial 7 with value: 0.8594594594594595.
[I 2022-04-29 09:13:19,415] Trial 28 finished with value: 0.7405405405405405 and parameters: {'objective': 'CrossEntropy', 'colsample_bylevel': 0.03099578721311503, 'depth': 10, 'boosting_type': 'Ordered', 'bootstrap_type': 'MVS'}. Best is trial 7 with value: 0.8594594594594595.

In [12]:
print('NUmber of finshed trials: {}'.format(len(study.trials)))
print('Best trial:')

trial = study.best_trial

print(' Value: {}'.format(trial.value))

print(' Params: ')
for key, value in trial.params.items():
    print(' {}: {}'.format(key, value))

NUmber of finshed trials: 29
Best trial:
 Value: 0.8594594594594595
 Params:
 objective: CrossEntropy
 colsample_bylevel: 0.09962504673786385
 depth: 4
 boosting_type: Plain
 bootstrap_type: Bernoulli
 subsample: 0.33604689287206835

In [13]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2, random_state=30)

In [15]:
cb_loan = cb.CatBoostClassifier(n_estimators=100,
                                objective='CrossEntropy',
                                colsample_bylevel=0.09,
                                depth=4,
                                boosting_type='Plain',
                                bootstrap_type='Bernoulli',
                                subsample=0.34,
                                loss_function='Logloss',
                                learning_rate=0.1,
                                task_type='CPU',
                                random_state=1,
                                verbose=False)

In [16]:
cb_loan.fit(train_x, train_y)

In [17]:
loan_predicted = cb_loan.predict(test_x)

In [18]:
model_rmse = np.sqrt(mse(test_y, loan_predicted))

In [19]:
model_rmse

0.45083481733371616