In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

from time import time
import pprint
import joblib
import warnings

from catboost import CatBoostClassifier

from sklearn.metrics import roc_auc_score
from sklearn.metrics import mean_squared_error as mse 
from sklearn.metrics import make_scorer

from skopt import BayesSearchCV
from skopt.callbacks import DeadlineStopper, VerboseCallback, DeltaXStopper
from skopt.space import Real, Categorical, Integer

In [2]:
df = pd.read_csv('../../datasets/loan_data_clean.csv')

In [3]:
df

     Unnamed: 0  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
0             0       1        0  ...             1.0              2            1
1             1       1        1  ...             1.0              0            0
2             2       1        1  ...             1.0              2            1
3             3       1        1  ...             1.0              2            1
4             4       1        0  ...             1.0              2            1
..          ...     ...      ...  ...             ...            ...          ...
609         609       0        0  ...             1.0              0            1
610         610       1        1  ...             1.0              0            1
611         611       1        1  ...             1.0              2            1
612         612       1        1  ...             1.0              2            1
613         613       0        0  ...             0.0              1            0

[614 rows x 13 columns]

In [4]:
df.columns

Index(['Unnamed: 0', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [5]:
x_cols = ['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']

x = df[x_cols]
y = df['Loan_Status']

In [6]:
x_train, x_validate, y_train, y_validate = train_test_split(x, y, test_size=0.3, random_state=12)

In [8]:
#basemodel
bs_mdl = CatBoostClassifier(task_type='CPU', verbose=False)

bs_mdl.fit(x_train, y_train)

In [9]:
y_pred = bs_mdl.predict_proba(x_validate)[:, 1]
score  = np.sqrt(mse(y_validate, y_pred))
score

0.3991951342493785