In [1]:
%load_ext sql

In [5]:
%sql mysql+pymysql://root:WECHALE$0398_wess@localhost:3306/loan_1

Connecting and switching to connection 'mysql+pymysql://root:***@localhost:3306/loan_1'

In [13]:
%%sql

SELECT * FROM loan_data_clean LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/loan_1'

5 rows affected.

+-----------------+--------+---------+------------+-----------+---------------+-----------------+-------------------+--------------------+------------------+----------------+---------------+-------------+
| MyUnknownColumn | Gender | Married | Dependents | Education | Self_Employed | ApplicantIncome | CoapplicantIncome |     LoanAmount     | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
+-----------------+--------+---------+------------+-----------+---------------+-----------------+-------------------+--------------------+------------------+----------------+---------------+-------------+
|        0        |   1    |    0    |    0.0     |     0     |       0       |       376       |        0.0        | 146.41216216216216 |      360.0       |      1.0       |       2       |      1      |
|        1        |   1    |    1    |    1.0     |     0     |       0       |       306       |       1508.0      |       128.0        |      360.0       |      1.0       |       0       |      0      |
|        2        |   1    |    1    |    0.0     |     0     |       1       |       139       |        0.0        |        66.0        |      360.0       |      1.0       |       2       |      1      |
|        3        |   1    |    1    |    0.0     |     1     |       0       |        90       |       2358.0      |       120.0        |      360.0       |      1.0       |       2       |      1      |
|        4        |   1    |    0    |    0.0     |     0     |       0       |       381       |        0.0        |       141.0        |      360.0       |      1.0       |       2       |      1      |
+-----------------+--------+---------+------------+-----------+---------------+-----------------+-------------------+--------------------+------------------+----------------+---------------+-------------+